*{
    margin: 0;
    padding: 0;
    
}


body{
    background-color: #e6d8d8;
}

header{
    display: flex;
    flex-direction: row;
    margin: 1% 5%;
}

.title{
    color:#C5C5C5;
    text-decoration: none;
    align-items: center;
}

strong{
    color:#5D4FFE;
    text-decoration: underline;
}
.nav-menu{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-menu, .nav-ul, .nav-ul li{
    display: flex;
    flex-direction: row;
    margin: 0 5%;
}


.nav-ul{
    list-style-type: none;
}







